<div class="layout layout--stretch fdp-root--full" id="fdp-root">
  <div class="grid grid--cols-1 gap--[12px]">
    <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-text fdp-heading fdp-full-heading">{{ heading_text }}</div>

    <div class="grid grid--cols-2 gap--[12px]">
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-number fdp-count fdp-full-count">{{ day_count }}</div>
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold text--center p--[0.25rem] fdp-text fdp-relation fdp-full-relation">{{ relation_text }}</div>
    </div>

    {%- if use_custom_text -%}
    <div class="grid grid--cols-1 gap--[12px]">
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-text fdp-target fdp-full-target">{{ custom_text }}</div>
    </div>
    {%- else -%}
    <div class="grid grid--cols-3 gap--[12px]">
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-text fdp-target fdp-target-day fdp-full-target">{{ target_day }}</div>
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-month fdp-text fdp-target fdp-target-month fdp-full-target">{{ target_month }}</div>
      <div class="fdp-tile bg--black text--white rounded--[12px] border--[4px] border--gray-400 flex flex--row flex--center font--bold fdp-text fdp-target fdp-target-year fdp-full-target">{{ target_year }}</div>
    </div>
    {%- endif -%}
  </div>
</div>
