{% if size == "compact" %}
<div class="layout layout--stretch fdp-root--half-vertical" id="fdp-root">
  <div class="grid grid--cols-1 gap--[12px] fdp-equal-rows">
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center text--center p--[0.2rem] fdp-text fdp-heading fdp-hv-heading">{{ heading_text }} {{ day_count }}</div>
    {%- if use_custom_text -%}
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center text--center p--[0.2rem] fdp-text fdp-relation fdp-hv-relation">{{ custom_text }}</div>
    {%- else -%}
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center text--center p--[0.2rem] fdp-text fdp-relation fdp-hv-relation">{{ relation_text }}</div>
    {%- endif -%}
  </div>
</div>
{% else %}
<div class="layout layout--stretch fdp-root--half-vertical" id="fdp-root">
  <div class="grid grid--cols-1 gap--[12px]">
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-number fdp-count fdp-hv-count">{{ day_count }}</div>
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center text--center p--[0.2rem] fdp-text fdp-relation fdp-hv-relation">{{ relation_text }}</div>
    {%- if use_custom_text -%}
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-text fdp-target fdp-hv-target">{{ custom_text }}</div>
    {%- else -%}
    <div class="fdp-tile bg--black text--white rounded--[12px] flex flex--row flex--center fdp-text fdp-target fdp-hv-target fdp-target-combined">{{ target_day }} {{ target_month }} {{ target_year }}</div>
    {%- endif -%}
  </div>
</div>
{% endif %}
